<% if @plays.empty? %>
  <p>No plays yet</p>
<% else %>
  <% @plays.each do |play| %>
    <%= play.game %>
    <%= play.category %>
    <%= play.video %>
    <%= play.title %>
    <%= play.comment %>
    <%= play.player_id %>
    <%= play.user_id %>
    <% end %>
<% end %>
