<div class="container">
  <% if @plays.empty? %>
    <p>No plays yet</p>
    <%= link_to "Add your favorite play", plays_path, method: :new, class: "btn btn-primary"%>
  <% else %>
    <% @plays.each do |play| %>
      <li><%= play.game %></li>
      <li><%= play.category %></li>
      <li><%= play.title %></li>
      <li><iframe width="560" height="315" src=<%="https://www.youtube.com/embed/#{play.video}" %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></li>
      <li><%= link_to "See more", play_path(play.id), class: "btn btn-primary"%></li>
      <% end %>
  <% end %>
  <br>
</div>
