<ul class="container">
  <p>Game: <%= @play.game %></p>
  <p>Category: <%= @play.category %></p>
  <p>Title: <%= @play.title %></p>
  <p>Who send it: <%= @play.uploader %></p>
  <%# <%= @play.player.nickname %>
  <%# <%= play.user.first_name %>
  <iframe width="1000" height="760" src=<%="https://www.youtube.com/embed/#{@play.video}" %> frameborder="0"></iframe>
</ul>
<div class="container">
  <%= link_to "Delete", play_path(@play), method: :delete, id: "delete-link", class: "btn btn-danger" %>
  <%= link_to "Back", plays_path, class: "btn btn-success" %>
</div>
