<div id="background-home">
  <div class="nav d-flex justify-content-between">
    <%= link_to "Sign up", new_user_registration_path, class: "btn-home"%>
    <% if current_user %>
      <%= link_to "Sign out", destroy_user_session_path, method: "delete",class: "btn-home" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn-home" %>
    <% end %>
  </div>

  <div class="title">
    <h1>Welcome to the Meat Hookah Awards</h1>
    <h2>The Meat Hookah Awards aim to annually crown the best/funny/pro plays.</h2>
  </div>

  <div class="container">
    <h2 class="video-title">This video is our biggest inspiration.</h2>
    <div class="d-flex justify-content-center">
      <iframe width="1000" height="700" src=<%="https://www.youtube.com/embed/aVSpPk6Ws28" %>></iframe>
    </div>
    <h3 class="made">Made by Jasso</h3>
  </div>

  <div class="container d-flex justify-content-around pb-5">
    <%= link_to "See the plays", plays_path, class: "btn-home"%>
    <%= link_to "Send a play!", new_play_path, class: "btn-home"%>
  </div>

  <div class="countdown mb-3">
    <%# <h1>Dias para a premiação</h1> %>
    <% start_time =  Time.now %>
    <% end_time   =  "2022-12-31 14:46:21 +0200" %>
    <h2><%= (end_time.to_date - start_time.to_date).to_i  %></h2>
    <h2>Days remaining</h2>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
<script>
VANTA.NET({
  el: "#background-home",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  backgroundColor: 0x120b22,
  points: 15.00,
  maxDistance: 29.00,
  spacing: 20.00
})
</script>

<div class="main-container">
  <div class="aboutus-container text-center py-4">
    <h1>Passionate Web Developers</h1>
    <p>
      We are a group of full-stack web developers graduated from Le Wagon's Coding Bootcamp - batchs #296, #690 and <span class="blue-text-color"><b>NADC Awards</b></span> is our project.
    </p>
  </div>
</div>

<div class="container text-center py-4">
  <h3>Our Team</h3>

  <div class="row flex-row justify-content-center">

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/allysson.jpeg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Allysson Comin</h5>
        <p class="card-text flex-grow-1">Former Nicolas Cagezinho and now a Full-Stack Web Developer.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/allyssoncomin/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/AllyssonComin" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198156963362" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/igor.jpeg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Igor Areco</h5>
        <p class="card-text flex-grow-1">Former Agronomy Student and now a Full-Stack Web Developer.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/igorareco/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/IgorAreco" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198094084702/" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/tasso.jpeg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Tasso Oliveira</h5>
        <p class="card-text flex-grow-1">Former Nicolas Cagezinho and Administrator and now a Full-Stack Web Development.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/tassorodrigues/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/tassohenrique" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561198056892892" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>

    <div class="card about-us-card m-3" style="width: 14rem;">
      <%= image_tag asset_path('about_us/thierry.jpg'), class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Thierry Oliveira</h5>
        <p class="card-text flex-grow-1">Former Physical Therapist and now a Senior Full-Stack Web Development.</p>
          <div class="center d-flex justify-content-around">
            <a href="https://www.linkedin.com/in/thierry-fernando/" target = "_blank"><i class="fab fa-linkedin aboutus-icon"></i></a>
            <a href="https://github.com/thierryfro" target = "_blank"><i class="fab fa-github aboutus-icon"></i></a>
            <a href="https://steamcommunity.com/profiles/76561197995713307" target = "_blank"><i class="fab fa-steam aboutus-icon"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>
