<div class="nav d-flex justify-content-between">
  <%= link_to "Sign up", new_user_registration_path, class: "btn-home"%>
  <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: "delete",class: "btn-home" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn-home" %>
  <% end %>
</div>

<div class="titulo">
  <h1>Welcome to the Meat Hookah Awards</h1>
  <h2>The Meat Hookah Awards aim to annually crown the best/funny/pro plays.</h2>
</div>

<div class="container">
  <h2 class="video-title">This video is our biggest inspiration.</h2>
  <div class="d-flex justify-content-center">
    <iframe width="7000" height="600" src=<%="https://www.youtube.com/embed/aVSpPk6Ws28" %>></iframe>
  </div>
  <h3 class="made">Made by Jasso</h3>
</div>

<div class="container d-flex justify-content-around">
  <%= link_to "About us", about_us_path, class: "btn-home"%>
  <%= link_to "See the plays", plays_path, class: "btn-home"%>
  <%= link_to "Send a play!", new_play_path, class: "btn-home"%>
</div>
