<div id="background-new"></div>
  <div class="nav d-flex justify-content-between">
    <%= link_to "Back", root_path, class: "btn-home"%>
  </div>
  <div class="title-home">
    <h1 class="pt-5 justify-content-center">Log in</h1>
  </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="box-form form-inputs container">
          <div class="row">
            <div class="col-12">
              <%= f.input :email,
                          required: false,
                          autofocus: true %>
              <%= f.input :password,
                          required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
            <div class="form-actions d-flex justify-content-center pb-5">
              <%= f.button :submit, "Log in", class: "btn-home" %>
            </div>
              <%= link_to "Sign up", new_registration_path(resource_name), class: "text-white" %><br />
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-white" %><br />
        </div>
      <% end %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
<script>
VANTA.NET({
  el: "#background-new",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  backgroundColor: 0x120b22,
  points: 15.00,
  maxDistance: 29.00,
  spacing: 20.00
})
</script>
